<form action="/user/update/<%= currentUser.id %>" enctype="multipart/form-data" method="POST" role="form">
  <h2>Profile</h2>
  <% if (flash && flash.err && flash.err.ValidationError) { %>
  <ul class="alert alert-success">
  <% Object.keys(flash.err.ValidationError).forEach(function(error) { %>
    <li><%- JSON.stringify(flash.err.ValidationError[error]) %></li>
  <% }) %>
  </ul>
  <% } %>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" name="name" id="name" value="<%= currentUser.name %>" maxlength="40" placeholder="Enter your name">
  </div>
  <div class="form-group">
    <label for="bio">Bio</label>
    <textarea class="form-control" name="bio" id="bio" placeholder="Summarize your bio in 160 characters" maxlength="160"><%= currentUser.bio %></textarea>
  </div>
  <div class="form-group">
    <label for="location">Location</label>
    <input type="text" class="form-control" name="location" id="location" value="<%= currentUser.location %>" placeholder="Enter your location">
  </div>
  <div class="form-group">
    <label for="website">Web site</label>
    <input type="text" class="form-control" name="website" id="website" value="<%= currentUser.website %>" placeholder="Enter your website">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" name="password" id="password" placeholder="Enter your new password">
  </div>
  <div class="form-group">
    <label for="password_confirmation">Repeat password</label>
    <input type="password" class="form-control" name="password_confirmation" id="password_confirmation" placeholder="Repeat the password">
  </div>
  <div class="form-group">
    <label for="photo">Photo</label>
    <div class="input-group">
      <span class="input-group-btn">
        <span class="btn btn-primary btn-file">
          Browse <input type="file" name="photo" class="form-control" id="photo">
        </span>
      </span>
      <input type="text" class="form-control" readonly>
    </div>
  </div>
  <input type="submit" class="btn btn-primary btn-default" value="Update">
  <a class="btn btn-default btn-danger" href="/user/destroy/<%= currentUser.id %>">Delete</a>
  <input type="hidden" name="_csrf" value="<%= _csrf %>">
</form>
