<form action="/user/update/<%= req.user[0].id %>" method="POST" role="form">
  <h2>Profile</h2>
  <% if (flash && flash.err && flash.err.ValidationError) { %>
  <ul class="alert alert-success">
  <% Object.keys(flash.err.ValidationError).forEach(function(error) { %>
    <li><%- JSON.stringify(flash.err.ValidationError[error]) %></li>
  <% }) %>
  </ul>
  <% } %>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" name="name" id="name" value="<%= req.user[0].name %>" placeholder="Enter your name">
  </div>
  <div class="form-group">
    <label for="bio">Bio</label>
    <textarea class="form-control" name="bio" id="bio" value="<%= req.user[0].bio %>" placeholder="Summarize your bio in 160 characters"></textarea>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" name="password" id="password" placeholder="Enter your new password">
  </div>
  <div class="form-group">
    <label for="password_confirmation">Repeat password</label>
    <input type="password" class="form-control" name="password_confirmation" id="password_confirmation" placeholder="Repeat the password">
  </div>
  <button type="submit" class="btn btn-primary btn-default">Update</button>
  <input type="hidden" name="_csrf" value="<%= _csrf %>">
</form>
<br />
<form action="/user/destroy/<%= req.user[0].id %>" method="POST">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" class="btn btn-default btn-danger" value="Delete user">
  <input type="hidden" name="_csrf" value="<%= _csrf %>">
</form>