<form action="/user/create" method="POST" role="form" class="sign_up_form" id="sign_up_form">
  <h2>Sign up</h2>

  <% if (flash && flash.err && flash.err.username) { %>
    <div class="alert alert-danger" style="padding-bottom:0px;">
  <% } %>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" name="username" id="username" placeholder="Enter your username" required/>
      <% if (flash && flash.err && flash.err.username) { %>
        <%- flash.err.username[0].message %>
      <% } %>
    </div>
  <% if (flash && flash.err && flash.err.username) { %>
    </div>
  <% } %>

  <% if (flash && flash.err && flash.err.email) { %>
    <div class="alert alert-danger" style="padding-bottom:0px;">
  <% } %>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" name="email" id="email" placeholder="Enter your email" required/>
      <% if (flash && flash.err && flash.err.email) { %>
        <%- flash.err.email[0].message %>
      <% } %>
    </div>
  <% if (flash && flash.err && flash.err.email) { %>
    </div>
  <% } %>

  <% if (flash && flash.err && flash.err.password) { %>
    <div class="alert alert-danger" style="padding-bottom:0px;">
  <% } %>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" id="password" placeholder="Enter your password" required/>
      <% if (flash && flash.err && flash.err.password) { %>
        <%- flash.err.password[0].message %>
      <% } %>
    </div>
  <% if (flash && flash.err && flash.err.password) { %>
    </div>
  <% } %>

  <% if (flash && flash.err && flash.err.password_confirmation) { %>
    <div class="alert alert-danger" style="padding-bottom:0px;">
  <% } %>
    <div class="form-group">
      <label for="password_confirmation">Repeat password</label>
      <input type="password" class="form-control" name="password_confirmation" id="password_confirmation" placeholder="Repeat the password" required/>
      <% if (flash && flash.err && flash.err.password_confirmation) { %>
        <%- flash.err.password_confirmation[0].message %>
      <% } %>
    </div>
  <% if (flash && flash.err && flash.err.password_confirmation) { %>
    </div>
  <% } %>

  <button type="submit" class="btn btn-primary btn-default">Submit</button>
  <input type="hidden" name="_csrf" value="<%= _csrf %>">
</form>
