<% if (users.length == 0) { %>
  <div class="alert alert-info">
    <%= emptyMessage %>
  </div>
<% } %>
<% _.each(users, function(user) { %>
  <div class="media">
    <a class="pull-left" href="/<%= user.username %>">
      <img class="media-object" src="/photo/show/<%- user.id %>/64" alt="<%= user.username %>">
    </a>
    <div class="media-body">
      <h4 class="media-heading"><a href="/<%= user.username %>"><%= user.username %></a></h4>
      <%- user.bio %>
    </div>
  </div>
<% }) %>
