<% if (users.length == 0) { %>
  <div class="alert alert-info">
    <%= emptyMessage %>
  </div>
<% } %>
<% _.each(users, function(user) { %>
  <div class="media">
    <a class="pull-left" href="#">
      <img class="media-object" src="holder.js/64x64" alt="s2gatev">
    </a>
    <div class="media-body">
      <h4 class="media-heading"><a href="/<%- user.username %>"><%= user.username %></a></h4>
      <%- user.bio %>
	  
	  <% if (currentUser.id == user.id) { %>
		  This is you.
		<% } else if (currentUser.followees.indexOf(user.id) == -1) { %>
		  <a href="/follow/<%= user.id %>" class="btn btn-sm btn-primary">Follow</a>
		<% } else { %>
		  <a href="/unfollow/<%= user.id %>" class="btn btn-sm btn-primary">Unfollow</a>
		<% } %>
    </div>
  </div>
<% }) %>
