<div class='container'>
  <div class="page-header">
    <h1>
      <% if (user.name) { %>
        <%= user.name %>
      <% } %>
      <small><%= user.username %></small>
    </h1>
  </div>
  <ul class="nav nav-pills">
    <li <% if (selected == 'tweets') { %> class="active" <% } %>>
      <a href="/<%= user.id %>">
        <span class="badge pull-right">42</span>
        Tweets
      </a>
    </li>
    <li <% if (selected == 'followers') { %> class="active" <% } %>>
      <a href="/<%= user.id %>/followers">
        <span class="badge pull-right"><%- user.followers.length %></span>
        Followers
      </a>
    </li>
    <li <% if (selected == 'following') { %> class="active" <% } %>>
      <a href="/<%= user.id %>/following">
        <span class="badge pull-right"><%- user.followees.length %></span>
        Following
      </a>
    </li>
    <li>
      <% if (currentUser.id == user.id) { %>
        <a href="/user/edit/<%= user.id %>">Edit</a>
      <% } else if (currentUser.followees.indexOf(user.id) == -1) { %>
        <a href="/follow/<%= user.id %>">Follow</a>
      <% } else { %>
        <a href="/unfollow/<%= user.id %>">Unfollow</a>
      <% } %>
    </li>
    <li>
  </ul>
  <hr>
  <div>
    <%- partial(partial_name + '.ejs', data) %>
  </div>
</div>