<div class='container'>
  <div class="page-header">
    <h1>
      <% if (!user.isVerified) { %>
        <small><span class="glyphicon glyphicon-ok-sign" title="Verified" style="color: #428bca;"></span></small>
      <% } %>
      <% if (user.name) { %>
        <%= user.name %>
      <% } %>
      <small><%= user.username %></small>
    </h1>
  </div>
  <% if (user.bio) { %>
    <div class="well"><%= user.bio %></div>
  <% } %>
  <ul class="nav nav-pills">
    <li <% if (selected == 'tweets') { %> class="active" <% } %>>
      <a href="/<%= user.username %>" id="tweets">
        <span class="badge pull-right">42</span>
        Tweets
      </a>
    </li>
    <li <% if (selected == 'followers') { %> class="active" <% } %>>
      <a href="/<%= user.username %>/followers" id="followers">
        <span class="badge pull-right"><%- user.followers.length %></span>
        Followers
      </a>
    </li>
    <li <% if (selected == 'following') { %> class="active" <% } %>>
      <a href="/<%= user.username %>/following" id="following">
        <span class="badge pull-right"><%- user.followees.length %></span>
        Following
      </a>
    </li>
    <li>
      <% if (currentUser.id == user.id) { %>
        <a href="/settings/profile">Edit</a>
      <% } else if (currentUser.followees.indexOf(user.username) == -1) { %>
        <a href="/follow/<%= user.username %>">Follow</a>
      <% } else { %>
        <a href="/unfollow/<%= user.username %>">Unfollow</a>
      <% } %>
    </li>
    <li>
  </ul>
  <hr>
  <div>
    <%- partial('../' + partial_name + '.ejs', data) %>
  </div>
</div>