<form action="/tweet/create" method="POST" role="form" style="width: 100%;">
  <div class="form-group">
    <textarea class="form-control" name="content" id="content" placeholder="Compose new Tweet..."></textarea>
  </div>
  <button type="submit" class="btn btn-primary btn-default">Tweet</button>
  <input type="hidden" name="_csrf" value="<%= _csrf %>">
</form>

<% _.each(data.tweets, function(tweet) { %>
  <div class="media">
    <a class="pull-left" href="#">
      <img class="media-object" src="holder.js/64x64" alt="<%= tweet.author.username %>">
    </a>
    <div class="media-body">
      <h4 class="media-heading">
        <% if (tweet.author.name) { %>
          <%= tweet.author.name %>
        <% } else { %>
          <%= tweet.author.username %>
        <% } %>
      </h4>
      <p>
        <%= tweet.content %>
      </p>

      <a href="/tweet/reply">Reply</a>
      <a href="/tweet/retweet">Retweet</a>
      <a href="/tweet/favorite">Favorite</a>
    </div>
  </div>
<% }) %>