<form action="/tweet/create" method="POST" role="form" style="width: 100%;">
  <div class="form-group">
  	<textarea class="form-control" name="content" id="tweet-content" placeholder="Compose new Tweet..."></textarea>
  </div>
  <button type="submit" class="btn btn-primary btn-default">Tweet</button>
  <span id="tweet-location">
    <button type="button" data-loading-text="Loading..." id="get-tweet-location" class="btn btn-primary">
      Location
    </button>
  </span>
  <input type="hidden" name="_csrf" value="<%= _csrf %>">
</form>
<% if (data.tweets.length == 0) { %>
  <div class="alert alert-info" style="margin-top: 15px;">
    <%= emptyMessage %>
  </div>
<% } %>
<div class="container" style="margin-top: 20px;">
	<% _.each(data.tweets, function(tweet) { %>
	  <div class="media">
		<a class="pull-left" href="#">
		  <img class="media-object" src="holder.js/64x64" alt="<%= tweet.author.username %>">
		</a>
		<div class="media-body">
		  <h4 class="media-heading">
  			<a href="/<%= tweet.author.username %>">
  			  <% if (tweet.author.name) { %>
  				  <%= tweet.author.name %>
  			  <% } else { %>
  				  <%= tweet.author.username %>
  			  <% } %>
  			</a>
		  </h4>
		  <p>
  			<%= tweet.content %>
        <% if (tweet.location) { %>
          <span class="label label-info">Somewhere around <%= tweet.location %></span>
        <% } %>
		  </p>
		  <a href="/tweet/reply">Reply</a>
		  <a href="/tweet/retweet">Retweet</a>
		  <a href="/tweet/favorite">Favorite</a>
		</div>
	  </div>
	<% }) %>
</div>
